{
	"presets": [
		[
			"@babel/preset-env",
			{
				"useBuiltIns": "entry",
				"corejs": "2.0.0",
				"targets": {
					"browsers": [
						"last 2 versions"
					]
				}
			}
		]
	],
	"plugins": [
		"@babel/plugin-syntax-dynamic-import",
		"@babel/plugin-proposal-class-properties"
	]
}
