<div class="burger-menu__toolbar d-flex" data-controller="burgerMenu">
    <button class="burger-menu__toolbar-toggler burger-menu__toolbar-toggler--left"
            id="aside_mobile__button"><span></span></button>
    <button class="burger-menu__toolbar-toggler"
            id="header_mobile_toggler"><span></span></button>
    <button class="burger-menu__toolbar-toggler burger-menu__toolbar-toggler--dots"
            id="header_mobile_topbar_toggler"><span></span></button>
</div>
