<nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
	<a class="navbar-brand" href="#">Navbar</a>
	<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
		<span class="navbar-toggler-icon"></span>
	</button>

	<div class="collapse navbar-collapse" id="navbarsExampleDefault">
		<ul class="navbar-nav mr-auto">
			<li class="nav-item{{#if home}} active{{/if}}">
				<a class="nav-link" href="/">Home {{current}} <span class="sr-only">(current)</span></a>
			</li>
			<li class="nav-item{{#if about}} active{{/if}}">
				<a class="nav-link" href="/about">About</a>
			</li>
			<li class="nav-item">
				<div class="btn-group" role="group">
					<button id="btnGroupDrop1" type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
						Choose Theme
					</button>
					<div class="dropdown-menu js_theme" aria-labelledby="btnGroupDrop1">
						<div class="dropdown-item">Theme 1</div>
						<div class="dropdown-item">Theme 2</div>
						<div class="dropdown-item">Theme 3</div>
					</div>
				</div>
			</li>
		</ul>

		{{> burger-menu}}
		<form class="form-inline my-2 my-lg-0">
			<input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search">
			<button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
		</form>
	</div>
</nav>
{{!-- todo: move sub-header to separade component--}}
<div class="sub-header">
    <ul class="navbar-nav navbar-expand-md px-3">
        <li class="nav-item text-nowrap mr-3">
            <a class="nav-link" href="#">Text1</a>
        </li>
        <li class="nav-item text-nowrap mr-3">
            <a class="nav-link" href="#">Text2</a>
        </li>
    </ul>
</div>
