nav.navbar {
  a {
      text-decoration: none;
  }
}

.navbar {
	height: $headerHeight;
	.js_theme {
		.dropdown-item {
			color: $blue;

			&:nth-child(2){
				color: $orange;
			}
			&:nth-child(3){
				color: $green;
			}
		}
	}
}

// todo: move sub-header to separade component
.sub-header {
	position: fixed;
	top: $headerHeight;
	width: 100%;
	  background-color: var(--navSubBackground);
	transform: translateY(-50px);
	transition: $transition-base;
	z-index: 1;
	margin-left: 16.66667%;
	  box-shadow: $box-shadow; //from bootstrap
	&--open {
	  transform: translateY(0);
	}
	.nav-link {

	}
  }
