{{>sidebar-menu}}
{{>r-sidebar-menu}}

<div class="wrapper__content {{#if modificator}}wrapper__content--{{modificator}}{{/if}}">

      <main role="main" class="js_main col-md-9 ml-sm-auto col-lg-10 px-4">
        <!--todo: del this info block-->
            <p class="js_message_logged--text"></p>
            <p class="js_email-confirm--text"></p>
        <!--end-->
        {{> @partial-block }}
      </main>


</div>
