@import url('https://fonts.googleapis.com/css?family=Open+Sans');

$default-font: 'Open Sans', sans-serif;

// default colors
.theme-wrapper {
	--primaryColor: #c9464f;
	--secondaryColor: #4e4e4e;
	--thirdlyColor: #84dddd;
	--dark: #1f1f1f;
	--blue: #3177cc;
	--orange: #cc7c13;
	--green: #0ccc39;
  --cardColor: #3177cc;
  --cardBackground: #FFF;
  --buttonColor: #FFF;
  --buttonBackground: #FFF;
  --navColor: #FFF;
  --navBackground: #343a40;
	--navSubBackground: #343a40;
  --footerColor: #FFF;
  --footerBackground: #FFF;
  --footerAlignment: left;
}

$variables: (
  --cardColor: var(--cardColor),
  --cardBackground: var(--cardBackground),
  --buttonColor: var(--buttonColor),
  --buttonBackground: var(--buttonBackground),
  --navColor: var(--navColor),
  --navBackground: var(--navBackground),
	--navSubBackground: var(--navSubBackground),
  --footerColor: var(--footerColor),
  --footerBackground: var(--footerBackground),
  --footerAlignment: var(--footerAlignment)
);
